h2 {
  color: #777;
  font-family: arial;
  font-size: 27px;
  margin: 15px;
  text-align: center;
  }
  .group {
  border: 1px solid #999999;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  }
  .contact-form {
  width: 400px;
  text-align: left;
  }
  .form-input {
  display: block;
  width: 380px;
  height: 15px;
  padding: 5px 10px;
  margin-bottom: 15px;
  font: 14px ’Helvetica Neue’, Helvetica, Arial, sans-serif;
  color: #ccc;
  background-color: #777;
  border: 1px solid #999;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  behavior: url(PIE.htc);
  }

  .otro {
    width: 380px;
    height: 60px;
    overflow: auto;
    padding: 5px 10px;
    margin-bottom: 15px;
    font: 14px ’Helvetica Neue’, Helvetica, Arial, sans-serif;
    color: #ccc;
    background-color: #777;
    border: 1px solid #999;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    behavior: url(PIE.htc);
    }
  
  textarea.form-input {
  width: 380px;
  height: 200px;
  overflow: auto;
  }
  .form-input:focus {
  border: 1px solid #7fbbf9;
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #7fbbf9;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #7fbbf9;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #7fbbf9;
  }
  .form-input:-moz-ui-invalid {
  border: 1px solid #e00;
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #e00;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #e00;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #e00;
  }
  .form-input.invalid {
  border: 1px solid #e00;
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #e00;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #e00;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #e00;
  }
  .form-btn {
  padding: 0 15px;
  height: 30px;
  font: bold 12px ’Helvetica Neue’, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border: 1px solid #0d3d6a;
  outline: none;
  position: relative;
  background-color: #1d83e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d83e2), to(#0d3d6a)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #1d83e2, #0d3d6a); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #1d83e2, #0d3d6a); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #1d83e2, #0d3d6a); /* IE10 */
  background-image: -o-linear-gradient(top, #1d83e2, #0d3d6a); /* Opera 11.10+ */
  background-image: linear-gradient(top, #1d83e2, #0d3d6a);
  -pie-background: linear-gradient(top, #1d83e2, #0d3d6a); /* IE6-IE9 */
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  behavior: url(PIE.htc);
  }
  .form-btn:active {
  border: 1px solid #1d83e2;
  background-color: #0d3d6a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d3d6a), to(#1d83e2)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0d3d6a, #1d83e2); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0d3d6a, #1d83e2); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #0d3d6a, #1d83e2); /* IE10 */
  background-image: -o-linear-gradient(top, #0d3d6a, #1d83e2); /* Opera 11.10+ */
  background-image: linear-gradient(top, #0d3d6a, #1d83e2);
  -pie-background: linear-gradient(top, #0d3d6a, #1d83e2); /* IE6-IE9 */
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
  
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
  behavior: url(PIE.htc);
  }
  label {
  margin-bottom: 5px;
  display: block;
  width: 300px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  }
  label span {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  }
  .contact-form.frame {
  background-color: #444444;
  border: 1px solid #CCCCCC;
  padding: 20px;
  }